@model IEnumerable<Elastic_Search_Development.Models.HumanResource>

@foreach (var resource in Model)
{
    <tr>
        <td>@resource.NationalIdNumber</td>
        <td>@resource.LoginID</td>
        <td>@resource.OrganizationNode</td>
        <td>@resource.OrganizationLevel</td>
        <td>@resource.Jobtitle</td>
        <td>@resource.BirthDate</td>
        <td>@resource.MaritalStatus</td>
        <td>@resource.Gender</td>
    </tr>

}

